.my-brand{
	background-color: rgb(254, 255, 255);
}

.my-body{
	
	background-color: rgba(247, 251, 251, 0.99);
}

.my-img{
	
    width: 100%;
    height: auto;

}

.my-li-menu{
 
	width: 25%;
	
}

.my-a-menu{
	color: #101010;
	
}

.navbar-default .navbar-nav>li>a{
	
	color:black;
	
}

.my-lang-nav{
	color : white;
	min-height:20px;
	padding:0px;
	
}

.navbar {min-height: 30px;}
.navbar-inverse {padding: 0 ; margin: 0; height: 30px; line-height: 30px;}

.navbar-inverse .navbar-nav>li>a{
	padding-top:0;
	padding-bottom:0;
	color: #4bb592;
	font-size: 15px;
	padding-right: 15px;
	padding-left: 15px;
	text-shadow: 1px 1px #fcfdfd;
}

.my-home-box{
	border: 2px solid #999999;
	border-radius: 0px;
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	margin-top: 20px;
}